*{
    font-size: 60px;
}
#box1{
    background-color: rgb(251, 235, 206);
    width: 300px;
    padding: 30px;
    border: 10px solid darkgrey;
}

/* width = Total size */
/* (300px -60 -20) */
/* 220px +60px +20px */

#box2{
    background-color: lightgray;
    width: 300px;
    padding: 30px;
    border: 10px solid black;
    box-sizing: border-box;
}  


 